/** utf-8:  ő */

/* <editor-fold desc="App"> ----------------------------------------- */

.wb-app {
  @include reset-styles();

  height: 100%;
  width: 100%;

  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

  font-family: 'Open Sans', serif;
}

:global(.wb-app) > * {
  @include box-sizing();
}

:global(.wb-app) > * * {
  @include box-sizing();
}

:global(.wb-app) > h1 {
  color: black;
  text-align: center;
}

/* </editor-fold desc="App"> ---------------------------------------- */
