<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Kukk Péter" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />

    <title>Wallboard Layout Editor</title>
    <script type="module" crossorigin src="./wb-layout-editor.js"></script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <!-- Root Container -->
    <div id="root"></div>

    <!-- Drawer Container -->
    <div id="drawers"></div>

    <!-- Modal Container -->
    <div id="modals"></div>

    <!-- Tooltips Container -->
    <div id="tooltips"></div>

    <!-- Context Menu Container -->
    <div id="context-menu"></div>

    <!-- Action Buttons Container -->
    <div id="action-containers">
      <div id="actions-top-right" class="actions-container"></div>
      <div id="actions-top-left" class="actions-container"></div>
      <div id="actions-bottom-right" class="actions-container"></div>
      <div id="actions-bottom-left" class="actions-container"></div>
    </div>

  </body>
</html>
